{% if include.columns %}
{% assign columns = include.columns %}
{% if columns == '1' %}
{% assign container = ' uk-container-xsmall' %}
{% elsif columns == '2' %}
{% assign container = ' uk-container-small' %}
{% else %}
{% assign container = '' %}
{% endif %}
{% else %}
{% assign columns = 3 %}
{% assign container = '' %}
{% endif %}

{% if page.team %}
{% assign team = site.teams[page.team] %}
{% endif %}

<div class="uk-section mm-stage" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">

    <div class="card">
        <div class="inside">
            <video id="mm-player"
                   class="video-js vjs-16-9">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
        <div class="outside">
            <div class="front">
                <img src="/uploads/card-front.jpg">
                <!-- <p><span>Team {{ team.name }} wünscht</span>Frohe Weihnachten!</p> -->
            </div>
            <div class="back">
            </div>
        </div>
    </div>

    <script src="{{ "/node_modules/video.js/dist/video.min.js" | relative_url }}"></script>
    <script src="{{ "/node_modules/dashjs/dist/dash.all.min.js" | relative_url }}"></script>
    <script src="{{ "/node_modules/videojs-contrib-dash/dist/videojs-dash.min.js" | relative_url }}"></script>
    <script type="text/javascript">
        (function () {
            const player = videojs('mm-player', {
                fluid: true,
                controls: true,
                autoplay: false,
                preload: 'auto'
            });
            player.on('ready', () => {
                if (videojs.browser.IS_FIREFOX) {
                    player.src({
                        src: '/uploads/{{ team.video }}/{{ team.video }}.mpd',
                        type: 'application/dash+xml'
                    });
                } else {
                    player.src({
                        src: '/uploads/{{ team.video }}/{{ team.video }}.m3u8',
                        type: 'application/x-mpegURL'
                    });
                }
            });
        })();
    </script>

</div>

